@model NewDawn.Models.Habitacion

@{
    ViewData["Title"] = "Crear Habitación";
}

<head>
    <link rel="stylesheet" href="~/css/Habitaciones/Create.css" />
</head>

<div class="formulario-container">
    <div class="formulario-header">
        <h2>Crear Habitación</h2>
    </div>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <div class="campo-formulario">
            <label asp-for="TipoHabitacion"></label>
            <input asp-for="TipoHabitacion" class="input" />
            <span asp-validation-for="TipoHabitacion" class="error"></span>
        </div>

        <div class="campo-formulario">
            <div class="form-check">
                <input class="form-check-input" asp-for="EstadoHabitacion" />
                <label class="form-check-label" asp-for="EstadoHabitacion"></label>
            </div>
        </div>

        <div class="campo-formulario">
            <label asp-for="PrecioNoche"></label>
            <input asp-for="PrecioNoche" class="input" type="number" step="0.01" />
            <span asp-validation-for="PrecioNoche" class="error"></span>
        </div>

        <div class="campo-formulario">
            <div class="form-check">
                <input class="form-check-input" asp-for="EnPaquete" />
                <label class="form-check-label" asp-for="EnPaquete"></label>
            </div>
        </div>

        <div class="campo-formulario">
            <label asp-for="Capacidad"></label>
            <input asp-for="Capacidad" class="input" type="number" />
            <span asp-validation-for="Capacidad" class="error"></span>
        </div>

        <!-- Sección de Comodidades -->
        <div class="campo-formulario">
            <label class="control-label">Comodidades</label>
            <div>
                @foreach (var comodidad in ViewBag.Comodidades)
                {
                    <div class="form-check">
                        <input type="checkbox" name="ComodidadesSeleccionadas" value="@comodidad.IdComodidades" class="form-check-input" id="comodidad_@comodidad.IdComodidades">
                        <label class="form-check-label" for="comodidad_@comodidad.IdComodidades">@comodidad.NombreComodidades</label>
                    </div>
                }
            </div>
        </div>

        <div class="boton-container">
            <button type="submit" class="btn-principal">Crear</button>
        </div>

        <div class="volver-atras">
            <a asp-action="Index">← Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
