@model NewDawn.Models.Servicio

@{
    ViewData["Title"] = "Eliminar Servicio";
}

<head>
    <link href="~/css/Servicios/Delete.css" rel="stylesheet" />
</head>

<div class="delete-container">
    <h2>Eliminar Servicio</h2>
    <p class="subtext">¿Estás seguro de que deseas eliminar este servicio?</p>

    <div class="form-group">
        <label>NombrePermiso</label>
        <input type="text" value="@Model.NombreServicio" readonly />
    </div>

    <div class="form-group">
        <label>DescripcionPermiso</label>
        <textarea readonly>@Model.DescripcionServicio</textarea>
    </div>

    <div class="form-group">
        <label>EstadoPermisos</label>
        <input type="text" value="@(Model.EstadoServicio ? "Activo" : "Inactivo")" readonly />
    </div>

    <div class="form-group">
        <label>FechaCambio</label>
        <input type="text" value="@Model.FechaCreacion.ToShortDateString()" readonly />
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Idservicio" />
        <div class="button-group">
            <button type="submit" class="btn-delete">ELIMINAR</button>
            <a asp-action="Index" class="btn-cancel">CANCELAR</a>
        </div>
    </form>
</div>
