@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = null;
}


<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login-container">
        <form asp-action="Login" method="post">
            <h2 style="margin: 20px 0; font-size: 30px;">INICIAR SESIÓN</h2>
            <div class="form-group">
                <input type="email" for="correo" name="correo" class="form-control" placeholder="Correo" required />
            </div>
            <div class="form-group">
                <input type="password" name="contraseña" for="contraseña" class="form-control" placeholder="Contraseña" required />
            </div>
            <button type="submit" class="btn btn-primary" style="cursor: pointer; padding:13px; margin: 10px 0;background-color: #0F3D52;
    color: #fff;border: 1px solid transparent;">
                Ingresar
            </button>

            <a asp-controller="Usuarios" asp-action="Recuperar" style="text-decoration: none; color: #0F3D52;">¿Olvidó su contraseña?</a>

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" style="color: red;">@ViewData["ErrorMessage"]</div>
            }
        </form>



        <div class="panel-container">
            <div class="panel">
                <div class="panel-panel panel-right">
                    <img src="~/imagen/newdawn.png" alt="New Dawn">
                    <a asp-action="RegisterUser" class="registro">Registrarse</a>
                    <br />
                    <a asp-action="Index" asp-controller="Home" class="registro">Inicio</a>
                </div>
            </div>
        </div>
    </div>
</body>
