@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: linear-gradient(to right, #eef1f6, #c3dafe);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
}

.formulario-container {
    width: 100%;
    background-color: #e5e1cf;
    border-radius: 25px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;
}
