@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    height: 150vh;
}

.contenedor-principal {
    background-color: #D9D6C3;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    height: 90vh;
}

.container {
    width: 100%;
}

.encabezado-formulario {
    text-align: center;
    margin-bottom: 25px;
}

.titulo-formulario {
    color: #0F3D52;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
}

.formulario-campo {
    margin-bottom: 15px;
    text-align: left;
}

    .formulario-campo label {
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
        color: #333;
    }

    .formulario-campo input,
    .formulario-campo select {
        width: 100%;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        background-color: #f1f1f1;
        font-size: 14px;
    }

        .formulario-campo input:focus {
            outline: none;
            border: 2px solid #0F3D52;
        }

.boton {
    display: inline-block;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
    gap: 8px; /* espacio entre botones */
    align-items: center; /* opcional para alinear a la izquierda */
}

.boton-azul {
    background-color: #0F3D52;
    color: #fff;
}

    .boton-azul:hover {
        background-color: #1b78a3;
    }

.boton-rojo {
    background-color: #d9534f;
    color: white;
}


.boton-gris {
    background-color: #6c757d;
    color: white;
}


.tabla-permisos {
    overflow-x: auto;
    margin-top: 20px;
}

    .tabla-permisos table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
    }

    .tabla-permisos th, .tabla-permisos td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    .tabla-permisos thead {
        background-color: #0F3D52;
        color: white;
    }

.tabla-blanca {
    background-color: white;
}


.alert {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.text-warning {
    color: #ff9800;
    font-weight: 600;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}
