@model NewDawn.Models.Permiso

@{
    ViewData["Title"] = "Crear Permiso";
}

<head>
    <link rel="stylesheet" href="~/css/Permisos/create.css" />
</head>

<div class="formulario-container">
    <div class="formulario-dentro"> 
        <div class="formulario-header">
            <h2>Crear Permiso</h2>
        </div>

        <form asp-action="Create">
            <div class="campo-formulario">
                <label for="NombrePermiso">Nombre</label>
                <input asp-for="NombrePermiso" class="input" placeholder="Nombre del permiso" />
                <span asp-validation-for="NombrePermiso" class="error"></span>
            </div>

            <div class="campo-formulario">
                <label for="DescripcionPermiso">Descripción</label>
                <input asp-for="DescripcionPermiso" class="input" placeholder="Descripción del permiso" />
                <span asp-validation-for="DescripcionPermiso" class="error"></span>
            </div>

            <div class="campo-formulario">
                <label for="FechaCambio">Fecha de Cambio</label>
                <input asp-for="FechaCambio" class="input" type="date" />
                <span asp-validation-for="FechaCambio" class="error"></span>
            </div>

            <div class="boton-container">
                <button type="submit" class="btn-principal">CREAR</button>
            </div>
        </form>

        <div class="volver-atras">
            <a asp-action="Index">Volver Atrás</a>
        </div>
    </div>
</div>
