@model NewDawn.Models.Permiso

@{
    ViewData["Title"] = "Editar Permiso";
}

<head>
    <link rel="stylesheet" href="~/css/Permisos/edit.css" />
</head>

<body>
    <div class="contenedor-formulario">
        <div class="contenedor-dentro">
            <div class="formulario-header">
                <h2>Editar Permiso</h2>
            </div>

            <form asp-action="Edit" class="formulario-cuerpo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Idpermisos" />

                <div class="grupo-formulario">
                    <label asp-for="NombrePermiso">Nombre</label>
                    <input asp-for="NombrePermiso" class="entrada" placeholder="Nombre del permiso" />
                    <span asp-validation-for="NombrePermiso" class="texto-error"></span>
                </div>

                <div class="grupo-formulario">
                    <label asp-for="DescripcionPermiso">Descripción</label>
                    <input asp-for="DescripcionPermiso" class="entrada" placeholder="Descripción del permiso" />
                    <span asp-validation-for="DescripcionPermiso" class="texto-error"></span>
                </div>

                <div class="grupo-formulario">
                    <label>
                        <input type="checkbox" asp-for="EstadoPermisos" />
                        @Html.DisplayNameFor(model => model.EstadoPermisos)
                    </label>
                </div>

                <div class="grupo-formulario">
                    <label asp-for="FechaCambio">Fecha de Cambio</label>
                    <input asp-for="FechaCambio" type="date" class="entrada" />
                    <span asp-validation-for="FechaCambio" class="texto-error"></span>
                </div>

                <div class="botonera">
                    <button type="submit" class="btn-formulario">GUARDAR</button>
                </div>
            </form>

            <div class="volver">
                <a asp-action="Index">Volver Atrás</a>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
