@model NewDawn.Models.Huesped

@{
    ViewData["Title"] = "Crear Huésped";
}

<head>
    <link rel="stylesheet" href="~/css/Huespedes/Create.css" />
</head>

<div class="formulario-container">
    <div class="formulario-header">
        <h2>Registrar Huésped</h2>
    </div>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <div class="campo-formulario">
            <label asp-for="Cchuesped"></label>
            <input asp-for="Cchuesped" class="input" />
            <span asp-validation-for="Cchuesped" class="error"></span>
        </div>

        <div class="campo-formulario">
            <label asp-for="NombreHuesped"></label>
            <input asp-for="NombreHuesped" class="input" />
            <span asp-validation-for="NombreHuesped" class="error"></span>
        </div>

        <div class="campo-formulario">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="input" />
            <span asp-validation-for="Correo" class="error"></span>
        </div>

        <div class="boton-container">
            <input type="submit" value="Guardar Huésped" class="btn-principal" />
        </div>
    </form>

    <div class="volver-atras">
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
