@model NewDawn.Models.Huesped

@{
    ViewData["Title"] = "Editar Huésped";
}

<head>
    <link rel="stylesheet" href="~/css/Huespedes/Edit.css" />
</head>  

<div class="contenedor-formulario">
    <div class="formulario-header">
        <h2>Editar Huésped</h2>
    </div>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Idhuesped" />

        <div class="grupo-formulario">
            <label asp-for="Cchuesped"></label>
            <input asp-for="Cchuesped" class="entrada" />
            <span asp-validation-for="Cchuesped" class="texto-error"></span>
        </div>

        <div class="grupo-formulario">
            <label asp-for="NombreHuesped"></label>
            <input asp-for="NombreHuesped" class="entrada" />
            <span asp-validation-for="NombreHuesped" class="texto-error"></span>
        </div>

        <div class="grupo-formulario">
            <label asp-for="Correo"></label>
            <input asp-for="Correo" class="entrada" />
            <span asp-validation-for="Correo" class="texto-error"></span>
        </div>

        <div class="botonera">
            <button type="submit" class="btn-formulario">Guardar Cambios</button>
        </div>
    </form>

    <div class="volver">
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
